/*
  Tokens de design do ResGatos.
*/

:root {
  --blue-700: #2d4772;
  --pink-500: #e4a0b7;
  --white: #ffffff;

  --font: 'Poppins', sans-serif;
}

.page-title {
    font-family: var(--font);
    font-size: 34px;
    font-weight: 600;
    color: var(--blue-700);
    margin: 48px 0 24px 0;
    text-align: center;
}